body{
    background:rgb(129, 158, 196);
}
.header {
    text-align: center;
    font-weight: bold;
}
.scene {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    height: 150px;
    border: 1px solid #CCC;
    margin: 40px 0;
    /* perspective: 600px; */
    padding: 3%
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border: 2px solid red
    
    
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin:10%;
    padding:45px; */
    /* line-height: 260px; */
    color: white;
    text-align: center;
    font-size: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: rgb(177, 194, 125);
  }
  
  .card__face--back {
    background: rgb(22, 204, 125);
    transform: rotateY(180deg);
  }

/* flip button */
#flip{
    display:flex;
    text-align: center;
    margin: 20px;
    font-size: medium;
    background:lightpink;
    padding:10px 20px 10px 20px;
}
.score{
    display:flex;
    flex-wrap: wrap;
    /* border:2px solid black */
}

/* Correct button */
#cor{
    /* display:flex; */
    text-align: center;
    border: 20px sold black;
    margin: 20px;
    font-size: large;
    background:green;
    color:white;
    padding:10px 20px 10px 20px
}

/* Next button */
#next{
    text-align: center;
    border: 20px sold black;
    margin: 20px;
    font-size: large;
    padding:10px 20px 10px 20px
}

/* Incorrect button */
#inc{
    text-align: center;
    border: 20px sold black;
    margin: 20px;
    font-size: large;
    background:red;
    color:white;
    padding:10px 20px 10px 20px
}
